@model dugundavet.Models.Cevap
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>

    <div>

        <h1>Thanks for attention @Model.Name @Model.Surname </h1>
        @if(Model.WillYouJoin == true)
        {
            @:"See you soon :)"
            <p>If you want to see participants please click<a asp-action="List_answers"> here. </a> </p>

        }
        else
        {
            @: We are sorry for heard this :(
            <p> Click to back go to main menu<a asp-action="Index"> here. </a> </p>
        }

        
    </div>
     
</body>
</html>
